.wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.wToday {
    margin: .825rem .625rem ;
    padding: .965rem 1.55rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5625rem;
    box-shadow: 0 0 .625rem grey;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    flex-basis: 18%;
}

.wToday img {
    width: 6.875rem;
    height: auto;
    margin: 0 auto .625rem;
    display: block;
}

.wToday h3 {
    font-weight: 600;
    font-size: 1.4375rem;
    text-align: center;
    color: grey;
    margin: .225rem 0;
}

.wToday h4 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.3125rem;
    text-align: center;
    color: grey;
    margin: .225rem;
    text-shadow: .03125rem .03125rem black;
}

.cloud {
    text-align: center;
    margin: .625rem 0;
    font-size: 1.375rem;
    text-shadow: .0625rem .0625rem 0 grey;
    text-transform: capitalize;
}

.wToday span {
    font-size: 1.4375rem;
    font-weight: 600;
}

.fullTextInfo {
    display: none;
}

.now {
    margin: .8rem 0;
}

.contLoader {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 8.59375rem 0;
    border-radius: 1.5625rem;
} 

.chartJs {
    display: none;
}



@media (min-width: 480px) {
    .wrap {
        flex-flow: row wrap;
    }
    .wToday {
       flex-basis: 100%;
       display: flex;
       flex-flow: column wrap;
       align-items: center;
       width: 50%;
       height: 14rem;
    }
    .fullTextInfo {
        display: block;
    }
    .now {
        order: 3;
    }
    .cloud {
        order: 1;
    }
    .wToday h4 {
        display: none;
    }
    .wToday img {
        order: 2;
    }
    .fullTextInfo {
        order: 4;
    }
}

@media (min-width: 768px) {
    .wrap {
        flex-flow: row;
        justify-content: flex-start;
        overflow: auto;
    }
    .wToday {
        margin: .825rem 0;
        padding: .965rem 1.35rem;
        flex-basis: 18%;
        display: block;
        height: auto;     
    }
    .now, .fullTextInfo, .cloud, .wToday img  {
        order: 0;
    }
    .wToday h4, .chartJs {
        display: block;
    }
    .cloud {
        min-width: 7.5rem;
    }
    .fullTextInfo {
        width: 8.5rem;
    }
}


@media (min-width: 1108px) {
    .wrap {
        justify-content: space-evenly;    
    }
}