.header {
    padding: 150px 0;
    background-image: url(https://millionstatusov.ru/pic/statpic/all/58e61335ec518.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}