.card {
    flex-basis: 32%;
}

.del {
    font-weight: 700;
    text-align: right;
    padding: .5rem .5rem 0;
}

.about {
    margin: 1rem;
    height: 7rem;
    text-indent: .7rem;
    overflow: auto;
}