.weather {
    margin: .825rem .625rem ;
    padding: .965rem 1.55rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5625rem;
    box-shadow: 0 0 .625rem grey;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    flex-basis: 18%;
}

.weather img {
    width: 6.875rem;
    height: auto;
    margin: 0 auto .625rem;
    display: block;
}

.weather h3 {
    font-weight: 600;
    font-size: 1.4375rem;
    text-align: center;
    color: grey;
    margin: .225rem 0;
}

.weather h4 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.3125rem;
    text-align: center;
    color: grey;
    margin: .225rem;
    text-shadow: .03125rem .03125rem black;
}

.cloud {
    text-align: center;
    margin: .625rem 0;
    font-size: 1.375rem;
    text-shadow: .0625rem .0625rem 0 grey;
    text-transform: capitalize;
}

.weather span {
    font-size: 1.4375rem;
    font-weight: 600;
} 

.fullTextInfo {
    display: none;
}

.tempNight {
    width: 8rem;
}


@media (min-width: 480px) {
    .weather {
        margin: .825rem 0;
        padding: .965rem 1.35rem;
    }
}

@media (min-width: 768px) {
    .fullTextInfo {
        display: block;
    }
    .weather {
        margin-left: 2%; 
        object-fit: cover;
    } 
    .fullTextInfo {
        width: 8.5rem;
    }
}

@media (min-width: 1024px){
    /* .weather {
        margin: .825rem .625rem ;
        padding: .965rem 1.55rem;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 1.5625rem;
        box-shadow: 0 0 .625rem grey;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        flex-basis: 18%;
    }
    
    .weather img {
        width: 6.875rem;
        height: auto;
        margin: 0 auto .625rem;
        display: block;
    }
    
    .weather h3 {
        font-weight: 600;
        font-size: 1.4375rem;
        text-align: center;
        color: grey;
        margin: .225rem 0;
    }
    
    .weather h4 {
        font-weight: 700;
        font-style: italic;
        font-size: 1.3125rem;
        text-align: center;
        color: grey;
        margin: .225rem;
        text-shadow: .03125rem .03125rem black;
    }
    
    .cloud {
        text-align: center;
        margin: .625rem 0;
        font-size: 1.375rem;
        text-shadow: .0625rem .0625rem 0 grey;
        text-transform: capitalize;
    }
    
    .weather span {
        font-size: 1.4375rem;
        font-weight: 600;
    } */
}

