.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    /* flex-basis: 35%; */
}

.gallery > img {
    display: block;
    width: 100px;
    height: 80px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.gallery > img:nth-last-child(-n+3) {
    margin-bottom: 0;
}