
/* Head */

.head {
    background: url('../img/Vector\ Smart\ Object@1X.png'), rgba(209, 209, 208, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 322px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
 
.head-nav {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
}
 
.head-nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    margin: auto 70px 100px;
}

.head-nav-menu-item {
    padding: 10px 20px;
}  

.head-nav-menu-item a {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
}
 
.brd {
    position: relative;
}
 
.brd:before {
    content: "";
    position: absolute;
    border: 2px solid white;
    border-radius: 35px;
    width: 90px;
    height: 37px;
    left: -35%;
    top: -65%;
}
 
.head-nav-menu-item-button {
    background: none;
    border: none;
    outline: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    cursor: pointer;  
}
 
.head-nav-logo a{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}
 
.head-nav-menu-item-button:active {
    color: #ff4e50;
}

/* Title */


.title {
    margin: 38px 24px;
}

.title-title {
     font-family: 'Montserrat-Bold', sans-serif;
     font-size: 28px;
     color: white;
     text-align: center;
     text-transform: uppercase;
}

.title-subtitle {
    margin:20px 28px;  
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.title-button {
    margin: 19px auto;
    background: #ff4e50;
    border-radius: 35px;
}

.title-button a {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    color:white;
    text-align: center; 
    padding: 14px 0;
}



@media (min-width: 768px) {

/* Head */

.head {
    width: 768px;
    background: url('../img/Vector\ Smart\ Object@1X_02.png'), rgba(209, 209, 208, 0.6);
    background-position: 50% 50%;
    justify-content: space-between;
}

.head-nav {
    width: 768px;
    justify-content: space-between;
    flex-flow: row wrap;
}

.head-nav-menu { 
    margin: 0 50px;
    width: 185px;
    padding: 32px 0;
}

.head-nav-logo a{
   margin: 40px 50px;   
} 

/* Title */

.title {
    margin: 100px 100px 30px;
}

.title-title {
    font-size: 52px;
}
    
.title-subtitle {
    margin: 40px auto;  
    font-size: 24px;
}

.title-button {
    margin: 15px auto;
    width: 226px;
}
}




@media (min-width: 1440px) {

/* Head */

.head {
     width: 1440px;
}
    
.head-nav {
    width: 1020px; 
    margin: auto;
}

/* Title */

.title {
    width: 520px;
    margin: 100px auto;
}

.title-subtitle {
    margin: 35px auto;  
    font-size: 24px;
}
}