@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff'),
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff'),
         url('../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Kaushan Script;
    src: url('../fonts/kaushan-script-v6-latin/kaushan-script-v6-latin-regular.woff'),
         url('../fonts/kaushan-script-v6-latin/kaushan-script-v6-latin-regular.woff2');
    font-weight: 400;

}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto-v18-latin/roboto-v18-latin-regular.woff'),
         url('../fonts/roboto-v18-latin/roboto-v18-latin-regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto-v18-latin/roboto-v18-latin-300italic.woff'),
         url('../fonts/roboto-v18-latin/roboto-v18-latin-300italic.woff2');
    font-weight: 300;
}