.weatherToday {
    width: 80%;
    margin: .625rem auto 1.25rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5625rem;
    box-shadow: 0 0 10px grey;
    display: flex;
    flex-flow: column wrap;
    
}
.weatherTextInfo {
    margin: auto;
    padding: .625rem 7%;
}

.cloud {
    min-width: 100%;
    text-align: center;
    margin: .48rem auto;
    padding-top: .625rem;
    font-size: 1.5625rem;
    font-weight: 700;
    color: rgb(70,70,70);
    text-shadow: .0625rem .0625rem .03125rem grey;
    text-transform: capitalize;
}

.Temp {
    font-size: 1.875rem;
    font-weight: 700;
}

.Icon, .TempP {
    margin: auto;
    display: block;
}

.quote {
    width: 90%;
    margin: auto;
}


@media (min-width: 480px) {
    .weatherToday {
        width: 95%;
        max-height: 17rem;
        padding: .625rem 4%;    
        max-width: 28rem;
    }

    .pressureInfo {
        margin-top: 2.7rem;
    }

    .weatherTextInfo {
        padding: 0 2%;
    }

    .cloud {
         min-width: 0;
    }
}

@media (min-width: 768px) {
    .container {
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .weatherToday {
        max-width: 15.5rem;
        flex-basis: 43%;
        padding: .625rem 3%;    
        flex-flow: row wrap;
        max-height: none;
    }

    .cloud {
         min-width: 100%;
    }

    .quote {
        margin-left: 2rem;
        display: block;
        /* font-size: 1.7rem; */
        /* font-style: italic; */
        box-sizing: border-box;
        flex-basis: 57%;
    }

    .weatherTextInfo {
        padding: 0 0;
    }
}


@media (min-width: 1024px) {

    .weatherToday {
        margin: .625rem 1.25rem;
        padding: .625rem 1.25rem;
    }
    
    .container {
        width: 90%;
        justify-content: space-between;
    }
    
    .quote {
        font-size: 1.875rem;
        /* padding: 1rem 0; */
        flex-basis: 65%;
    }
    
    /* .quote h3 {
        text-align: center;
        color: rgb(70,70,70);
    }
    
    .quote p {
        border-radius: 1.25rem;
        margin: 1.25rem;
        color: grey;
    }    */
}