



* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img,a {
    display: block;
}

li {
    list-style-type: none;
}

/* Header */

.header {
    margin: auto;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(232, 130, 130, 0.9) 0%,rgba(239, 217, 138, 0.9) 100%),url('../img/eagle.png');
    background-position: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
}

.header-nav {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.header-nav__list-item {
    margin-right: 55px;
   
}

.header-nav__list-item:last-child {
    margin-right: 0;
}

.header-nav-list__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 3px solid rgba(252, 227, 138, 0);
}

.header-nav-list__icon {
    width: 18px;
    height: 18px;
    fill: white;
   
 }

.header-nav-list__link:hover {
    border-bottom: 3px solid rgba(252, 227, 138, 1);
    color: rgba(252, 227, 138, 1);    
}

.header-nav-list__icon:hover {
    fill: rgba(252, 227, 138, 1); 
}

.header-headline {
    width: 802px;
    margin: 179px auto 0;
    text-align: center;
    color: white;
    padding-bottom: 240px;
}


.header-headline__subtitle {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    font-weight: 400;
    padding-bottom: 42px;
}

.header-headline__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 140px;
    text-transform: uppercase;
}

.header-headline__button {
    border: 3px solid white;
    padding: 15px 33px;
    width: 160px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.header-headline__button:hover {
    border: 3px solid rgba(232, 130, 130, 1);
}



/* features */

.features {
    width: 1142px;
    margin: 45px auto 0;
}

.features__title {
    width: 309px;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgba(51, 51, 51, 1);
    padding-bottom: 42px;
    position: relative;
}

.features__subtitle {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    display: block;
    margin-bottom: 22px;
}

.features__title:after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    background: rgba(232, 130, 130, 1);
    bottom: 0;
    left: 40%;

}
